<div class="carrossel">
  <h1>Nossos Serviços</h1>
  <div class="carrossel_1">

    <a routerLink="/gestao">
      <section>
        <img ngSrc="/lixo.jpg" width="250" height="250" />
        <h3>Gestão de Residuos</h3>
      </section>
    </a>

    <a routerLink="/sistemas">
      <section>
        <img ngSrc="/gestao.jpg" width="250" height="250" />
        <h3>Sistemas de Gestão Ambiental</h3>
      </section>
    </a>

  <a routerLink="/outorga">
    <section>
      <img ngSrc="/outorga.jpg" width="250" height="250" />
      <h3>Outorga de Poço</h3>
    </section>
  </a>

    
  </div>

  <div class="carrossel_2">
  <a routerLink="/licenca">
    <section id="licenca">
      <img ngSrc="/licenca.avif" priority width="250" height="250" />
      <h3>Licenças e Autorizações
        Ambientais</h3>
    </section>
  </a>

  <a routerLink="/relatorio">
    <section id="relatorio">
      <img ngSrc="/vazamentogas.webp" priority width="250" height="250" />
      <h3>Relatório de Emissões
        Atmosféricas</h3>
    </section>
  </a>
    
  <a routerLink="/consultoria">
    <section>
      <img ngSrc="/consultoria.jpg" priority width="250" height="250" />
      <h3>Consultoria Personalizada</h3>
    </section>
  </a>
    
  </div>
</div>
