.carrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carrossel h1 {
    color: #004aad;
    font-size: 60px;
    padding-bottom: 35px;
}

.carrossel_1, .carrossel_2 {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-bottom: 20px;
}
.carrossel_1{
gap: 160px;
}

.carrossel a {
    text-decoration: none;
}

section {
    position: relative;
    overflow: hidden; 
}

section img {
    transition: transform 0.3s ease-in-out;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #004aad;
    font-size: 18px;
    text-align: center;
    transition: color 0.3s ease-in-out;
    padding-top: 15px;
    padding-bottom: 10px;
}


.carrossel_1 a section:hover,
.carrossel_2 a section:hover {
    transform: scale(1.01);
    transition: .3s;
}

@media (max-width: 1069px) {
    .carrossel{
        gap: 50px;
        .carrossel_1, .carrossel_2 {
            display: flex;
            flex-direction: column;  
        }
        .carrossel_2{
            padding-left: 40px;
        }

    }
}

@media (max-width: 480px) {
    .carrossel{
        h1{
            padding-left: 20px;
        }
    }
}

