<app-header></app-header>
<div class="container">
  <section class="text">
    <h2>Relatório de Emissões Atmosféricas</h2>
    <p>Os poluentes gasosos que são lançados
      diretamente na atmosfera são dispersos
      causando sérios problemas de saúde humana
      e ambiental. Esses problemas atingem tanto a
      comunidade do entorno do estabelecimento
      poluidor quanto o próprio poluidor, pois uma
      vez disperso na atmosfera se torna inviável a
      tomada de medidas corretivas. Torna-se,
      portanto, evidente a necessidade do
      monitoramento de emissões atmosféricas
      para empresas e processos que visam a
      produção de bens e serviços.</p>
    <app-botao></app-botao>
  </section>
  <section class="img">
    <img ngSrc="/gestao.jpg" width="550" height="450" />
  </section>
</div>
