<app-header></app-header>
<div class="partner">
    <section>
        <h1>Seu parceiro para um futuro sustentável!</h1>
        <p>A Catavento oferece soluções personalizadas em consultoria ambiental, 
            ajudando empresas a alcançar seus objetivos de sustentabilidade e a construir um futuro mais promissor. </p>
    </section>
    <section>
        <img ngSrc="/pe.jpeg" priority width="800" height="600"/>
    </section>
</div>

<div class="sobre">
    <section>
        <h1>Sobre Nós</h1>
        <p>A Catavento Consultoria Jr. é uma Empresa Júnior
            formada por alunos do curso de Engenharia Ambiental e
            Sanitária. Vinculada ao Instituto Federal do Ceará e com
            7 anos transformando o mundo! Somos sua parceira
            estratégica para transformar desafios ambientais em
            oportunidades de crescimento.</p>
        <p>Com soluções inovadoras e personalizadas, ajudamos
            empresas a otimizar seus processos, reduzir custos e
            aumentar sua competitividade, sempre em
            conformidade com as normas ambientais.</p>
        <p>Nossa equipe multidisciplinar oferece um
            acompanhamento completo, desde o diagnóstico inicial
            até a implementação de medidas mitigadoras,
            garantindo resultados concretos e duradouros.</p>

        <h3>SOLUÇÕES AMBIENTAIS SOB MEDIDA

            PARA O SEU NEGÓCIO!</h3>
    </section>
    <section>
        <img ngSrc="/logo.png" priority width="350" height="300"/>
    </section>
</div>