<app-header></app-header>
<div class="container">
  <section class="text">
    <h2>Sistema de Gestão Ambiental</h2>
    <p>A implementação de um SGA constitui a
        estratégia para que o empresário, em um
        processo contínuo, identifique
        oportunidades de melhorias que reduzem os
        gastos financeiros do empreendedor com
        recursos e melhoram, simultaneamente, os
        impactos das atividades da empresa sobre o
        meio ambiente.</p>
    <app-botao></app-botao>
  </section>
  <section class="img">
    <img ngSrc="/gestao.jpg" width="550" height="450" />
  </section>
</div>
