<app-header></app-header>
<div class="container">
  <section class="text">
    <h2>Consultoria Especializada</h2>
    <p> Nós da Catavento Consultoria Jr. estamos
        preparados para atender as suas dificuldades
        e a transformá-las em possibilidades com um
        preço justo, aliado ao profissionalismos e
        sustentabilidade, com um custo abaixo do
        valor do mercado!
        
        Auxiliamos na interpretação e cumprimento
        da legislação ambiental, identificando e
        mitigando os riscos ambientais associados a
        suas atividades, permitindo que o seu negócio
        esteja em conformidade com a legislação
        vigente.</p>
    <app-botao></app-botao>
  </section>
  <section class="img">
    <img ngSrc="/gestao.jpg" width="550" height="450" />
  </section>
</div>
