<div class="sobre">
    <section>
        <h1>Sobre Nós</h1>
        <p>A Catavento Consultoria Jr. é uma Empresa Júnior
            formada por alunos do curso de Engenharia Ambiental e
            Sanitária. Vinculada ao Instituto Federal do Ceará e com
            7 anos transformando o mundo! Somos sua parceira
            estratégica para transformar desafios ambientais em
            oportunidades de crescimento.</p>
        <p>Com soluções inovadoras e personalizadas, ajudamos
            empresas a otimizar seus processos, reduzir custos e
            aumentar sua competitividade, sempre em
            conformidade com as normas ambientais.</p>
        <p>Nossa equipe multidisciplinar oferece um
            acompanhamento completo, desde o diagnóstico inicial
            até a implementação de medidas mitigadoras,
            garantindo resultados concretos e duradouros.</p>

        <h3>SOLUÇÕES AMBIENTAIS SOB MEDIDA

            PARA O SEU NEGÓCIO!</h3>
    </section>
    <section class="imagens">
        <img ngSrc="/sentados.jpeg" priority width="750" height="600"/>
    </section>
</div>