<app-header></app-header>
<div class="container">
  <section class="text">
    <h2>Outorga de Poço</h2>
    <p>A outorga de poço é fundamental para que se
      possa captar e utilizar a água proveniente de
      poços artesianos e semi-artesianos por
      pessoas físicas ou jurídicas.
      
      Caso o procedimento não seja realizado, o
      responsável pode ser multado pelo
      funcionamento ilegal do poço, levando a um
      prejuízo que acaba sendo superior ao valor do
      processo de outorga em si.
      Por tanto, a utilização da água é direito de
      todos, mas deve seguir o processo de
      autorização para que esse recurso natural se
      mantenha existente por muito mais tempo.
    </p>
    <app-botao></app-botao>
  </section>
  <section class="img">
    <img ngSrc="/outorga.jpg" width="550" height="450" />
  </section>
</div>

