<footer>
    <div class="contato">
        <h1>Fale Conosco</h1>
        <section>
            <mat-icon>phone</mat-icon>
            <p>(85) 98481-9741</p>
        </section>
        <section>
            <mat-icon>mail</mat-icon>
            <a>comercial.cataventocjgmail.com</a>
        </section>
        <section>
            <mat-icon>location_on</mat-icon>
            <p>Av. Parque Central, 1350 - Bloco 1 -
                Distrito Industrial I, CEP 61939-140,
                Maracanaú - CE</p>
        </section>
    </div>
    <div class="maps">
        <google-map
            height="400px"
            width="700px"
            [options]="options"
        >
        <map-marker
        [position]="markerPosition"
        [title]="'Catavento Consultoria Jr.'"
        [label]="'Catavento Consultoria Jr.'"
      ></map-marker>
        </google-map>
    </div>
</footer>
<div class="links">
   <a href=""><mat-icon class="material-icons">photo_camera</mat-icon></a> 
    <mat-icon class="material-icons">work</mat-icon>
    <mat-icon class="material-icons">thumb_up</mat-icon>

</div>