<footer>
    <div class="contato">
        <h1>Fale Conosco</h1>
        <section>
            <mat-icon>phone</mat-icon>
            <p>(85) 98481-9741</p>
        </section>
        <section>
            <mat-icon>mail</mat-icon>
            <p>comercial.cataventocjgmail.com</p>
        </section>
        <section>
            <mat-icon>location_on</mat-icon>
            <p>Av. Parque Central, 1350 - Bloco 1 -
                Distrito Industrial I, CEP 61939-140,
                Maracanaú - CE</p>
        </section>
        <section class="links">
            <h2>Redes Sociais:</h2>
            <a href="https://www.instagram.com/cataventocj/" target="_blank"><img ngSrc="/insta.png" width="50" height="50"></a> 
            <a href="https://www.facebook.com/cataventocj/?locale=pt_BR" target="_blank"><img ngSrc="/linkedin.png" width="50" height="50"></a> 
            <a href="https://www.linkedin.com/company/cataventocj/?originalSubdomain=br" target="_blank"><img ngSrc="/facebook.png" width="50" height="50"></a>
         </section>
    </div>
    <div class="maps">
        <google-map
            height="400px"
            width="700px"
            [options]="options"
        >
        <map-marker
        [position]="markerPosition"
        [title]="'Catavento Consultoria Jr.'"
        [label]="'Catavento Consultoria Jr.'"
      ></map-marker>
        </google-map>
    </div>
</footer>



