footer{
    display: flex;
    flex-direction: row;
	justify-content: space-around;
    background-color: #004aad;
   gap: 80px;
    padding-bottom: 30px;
    padding-left: 30px;
    .contato{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        h1{
            color: white;
            font-size: 80px;
            padding-top: 30px;
           
        }
        section{
            display: flex;
            flex-direction: row;
            color: white;

            p{
                font-size: 15px;
            }

            
        }
    }

    .maps{
        padding-top: 100px;
        padding-bottom: 30px;
    }
}

.links{
    text-align: center;
    width: 500px;  
    gap: 20px;

    a{
        img{
            mix-blend-mode: multiply;
        }
    }
}

.maps {
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
  }
  
  .mapa {
    width: 100%;
    height: 100%;
  }
@media (max-width: 1763px) {
    footer{
        gap: 50px;
        
    }
    
  }
  
@media (max-width: 1233px) {
    footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 150px;
        padding-bottom: 270px;
    }
  }
  
  @media (max-width: 800px) {
    .maps {
        max-width: auto;
        width: 100%;
    }
  }
  

@media (max-width: 712px) {
    footer{
        .maps{
          .mapa{          
            height: 30px;
          }
        }
    }
  }

  @media (max-width: 500px) {
    footer{
        display: flex;
        flex-direction: column;
       
        .contato{
        padding-left: 20px;
           h1{
            font-size: 40px;
           
           }

           .section{
            width: 100%;
           }
           .links{
            
            display: flex;
            flex-direction: column;
            
           }
        }
        
    }
    .links{
        max-width: 300px;
    }
  }

  

  @media (max-width: 350px) {
    .maps {
        max-width: auto;
        width: 80%;
    }
  }

  