<footer>
    <div class="contato">
        <h1>Fale Conosco</h1>
        <section>
            <mat-icon>phone</mat-icon>
            <p>(85) 98481-9741</p>
        </section>
        <section>
            <mat-icon>mail</mat-icon>
            <a>comercial.cataventocjgmail.com</a>
        </section>
        <section>
            <mat-icon>location_on</mat-icon>
            <p>Av. Parque Central, 1350 - Bloco 1 -
                Distrito Industrial I, CEP 61939-140,
                Maracanaú - CE</p>
        </section>
    </div>
    <div>
        
        
        
    </div>
</footer>
