<header>
    <div class="container">
        <a routerLink="/"><img ngSrc="/logo.png" width="250" height="250" /></a>
        <nav>
            <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
            <ul class="navigation" [class.open]="menuOpen">
                <a routerLink="/"><li>Home</li></a>
                <a href="#sobre"><li>Sobre nós</li></a>
                <a href="#servicos"><li>Serviços</li></a>
                <a href="#contato"><li>Fale Conosco</li></a>
            </ul>
        </nav>
    </div>
</header>
