*{
    list-style: none;
}


.container{
    display: flex;
    flex-direction: row;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
li{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #004aad;
}
}    