*{
    list-style: none;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #004aad;
    margin-top: -10px;
    margin-left: -10px;
    padding-top: 20px;
    img{
        margin-top: -20px;
    }
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    a{
        text-decoration: none;
        cursor: pointer;
    }
li{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-top: 80px;
}
  
}   

.hamburger {
    display: none; /* Esconde o hambúrguer por padrão */
    font-size: 40px; /* Tamanho do hambúrguer */
    color: white;
    cursor: pointer;
  }

@media (max-width: 824px) {
    .container {
        display: flex;
        
        align-items: center;
      }
    
      .navigation {
        display: none; 
        flex-direction: column;
        padding-bottom: 50px;
        align-items: center;
      }
    
      .navigation.open {
        display: flex; 
      }
    
      .hamburger {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
    
      li {
        font-size: 25px; 
        margin-top: 10px;
      }
    }


    @media (max-width: 500px) {
      .container{
        padding-left: 50px;
        .hamburger{
          display: none;
        }
      }
    }