*{
    list-style: none;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    img{
        margin-top: -60px;
    }
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
li{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #004aad;
    margin-top: 60px;
}
}    