<div>
    <section>
        <h2>Gestão de Resíduos</h2>
        <p>O Plano de Gerenciamento de Resíduos é um
            documento técnico que indica a forma
            ambientalmente correta para o manejo dos
            resíduos da sua geração até a sua disposição
            final.
            
            A elaboração e a execução do PGR são
            obrigatórias aos geradores de resíduos sólidos.
            Tornando-se obrigatória a vinculação da
            aprovação deste documento à análise dos
            pedidos de alvará de funcionamento,
            construção,
            reforma ou reparo, registro sanitário, licença
            ambiental e autorização para demolição ou
            corte de vegetação arbórea.</p>
    </section>
    <section>
        <img ngSrc="/lixo.jpg" width="250" height="250"/>
    </section>
</div>
